.message {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.button {
    padding: 15px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    background: black;
    border: 1px solid black;
    margin-top: 50px;
    width: 100%;
}

.button:hover {
    background: white;
    text-decoration: none;
    color: black;
}